<html>
	<head>
		<style>
			.card{
				border:1px solid #0E0E0E;
				padding: 20px;
				width: 100px;
				height: 200px;
				margin: 0 20px;
				float:left;
				text-align: center;
				font-size:24px;
			}
			
			.collectionCard{
				float:left;
				width:40px;
				height:80px;
				padding:5px;
				font-size:10px;
				border:1px solid #0E0E0E;
				margin:0 10px;
			}
			
			.clear{clear:both;}
		</style>
	</head>
	<body>
		<h1>Here's your pack of cards!</h1>
		{% for card in cardlist %}
			<div class="card">{{card.card_name}} of {{card.team_id}}</div>
		{% endfor %}			
		<div class="clear"></div>
		
		<h2>My Cards</h2>
		{% for c in usercards.all %}
			{{c.card_name}} of {{c.team_id}}<br />
		{% endfor %}
		
		<h2>Collection</h2>
		{% for team in teams %}
			<h3>Team {{forloop.counter}} - {{team.team_name}}</h3>
			
			{% for card in team.card_set.all  %}
			<div class="collectionCard">{{card.card_name}} - {{card.id}}</div>
			{% endfor %}

			<div class="clear"></div>
		{% endfor %}
	</body>
</html>	
